@model IEnumerable<QuanLyKhachSan22.Models.Loaiphong>

@{
    ViewData["Title"] = "ListLP";
}

<h1>ListLP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaLp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaLp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
