@model IEnumerable<QuanLyKhachSan22.Models.Loaiphong>
@{
    ViewData["Title"] = "QLloaiphong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Danh Sách Loại Phòng</h2>

<p>
    <a asp-action="ThemLoaiPhongMoi">Thêm Loại Phòng Mới </a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Loại Phòng
            </th>
            <th>
                Mô Tả Loại Phòng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTaLp)
                </td>
                <td>
                    <a asp-action="SuaLP" asp-route-IdLp="@item.IdLp">Sửa LP</a> |
                    <a asp-action="XoaLP" asp-route-IdLp="@item.IdLp">Xóa LP</a>
                </td>
            </tr>
        }
    </tbody>
</table>
