@model IEnumerable<QuanLyKhachSan22.Models.Phong>

@{
    ViewData["Title"] = "QLPhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<p>@TempData["Message"]</p>

<h1>Danh Sách Phòng</h1>
<p>
    <a asp-action="ThemPhong"> Thêm Phòng Mới</a>
</p>

<form asp-action="QLPhong" method="get" class="form-inline">
    <div class="form-group">
        <label>
            <a>Tình trạng phòng:</a>
            <input type="checkbox" name="tinhTrangPhong" value="true" />
        </label>
    </div>
    Giá từ <input type="number" name="to" />
    đến <input type="number" name="from" />
    Nhập loại phòng <input type="number" name="IdLp" />
    <button>Tìm</button>
</form>

<div class=" col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên Phòng
                </th>
                <th>
                    Giá Phòng
                </th>
                <th>
                    Hình Ảnh Phòng
                </th>
                <th>
                    Tình Trạng
                </th>
                <th>
                    Id Loại Phòng
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnhPhong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                    @(item.TinhTrang ? "Phòng đã thuê" : "Phòng còn trống")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdLp)
                </td>

                <td>
                    <a asp-action="SuaPhong" asp-route-IdP="@item.IdP">Sửa phòng</a> |
                    <a asp-action="XoaPhong" asp-route-IdP="@item.IdP">Xóa phòng</a> |
                </td>
                <td>@(item.TinhTrang ? "Yes" : "No")</td>
                <td>
                    @if (item.TinhTrang)
                    {
                        <a asp-action="Checkout" asp-route-id="@item.IdP" class="btn btn-primary">Checkout</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>






