@model QuanLyKhachSan22.Models.Khachhang
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaKH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaKH</h1>

<form action="/SuaKH" method="post">
    <div class="form-group">
        <label>Tên KH</label>
        <input type="text" class="form-control" value="@Model.HoTenKh" id="HoTenKh" name="HoTenKh" />
    </div>
    <div class="form-group">
        <label>Ngày Sinh</label>
        <input type="text" class="form-control" value="@Model.NgaySinhKh" id="NgaySinhKh" name="NgaySinhKh" />
    </div>
    <div class="form-group">
        <label>SĐT</label>
        <input type="text" class="form-control" value="@Model.SdtKh" id="SdtKh" name="SdtKh" />
    </div>
    <div class="form-group">
        <label>Email KH</label>
        <input type="text" class="form-control" value="@Model.EmailKh" id="EmailKh" name="EmailKh" />
    </div>
    <div class="form-group">
        <label>Dia Chi Kh</label>
        <input type="text" class="form-control" value="@Model.DiaChiKh" id="DiaChiKh" name="DiaChiKh" />
    </div>
    <button class="btn btn-primary" type="submit">Sửa</button>

</form>