@model IEnumerable<QuanLyKhachSan22.Models.Thongke>
@{
    ViewData["Title"] = "ThongKe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thống Kê</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPdp)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPdp)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThanhToan)
                </td>


            </tr>
        }
    </tbody>
</table>
